.audio-player-provider {
	width: 100%;
}

.audio-entry {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 1rem;
	padding: 0.5em;
}

.progress-container {
	width: 3rem;
	height: 3rem;
}

.name-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.play-pause-btn {
	cursor: pointer;
}

.name {
	border: none;
	width: 10ch;
	font-size: 3rem;
	color: #ddd;
}

.name:disabled {
	color: #9e80ea;
}

.name-edit-btn {
	cursor: pointer;
}
